<!DOCTYPE HTML>
<html>

<head>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js">
	</script>

	<script>
		var myApp = angular.module("app", []);
		myApp.controller("controller", function ($scope) {
			$scope.arr = [];
			$scope.push = function () {
				// get the input value
				var inputVal = $scope.arrInput;
				$scope.arr.push(inputVal);

			};
		});
	</script>
	
</head>

<body style="text-align:center;">
	
	<h1 style="color:rgb(52, 90, 172);">
		Code to Sort the input by the user
	</h1>   
	<div ng-app="app">
		<div ng-controller="controller">
			Input here:
			<input type="text"
				name="arrExample"
				ng-model="arrInput">
			<br><br>
			Array = {{arr}}<br><br>
			<button ng-click='push()'>
				<center>Click to push</center>
			</button>
		</div>
        <ul>
			<!-- <button onclick="passToFunction()">
				<center>Pass to function</center>
			</button>
            <li ng-repeat=
        "x in customers | orderBy : 'inputVal'">
                 {{x.name + ", " + x.city}} 
            </li>
        </ul> 
		<script type="text/javascript">
          
			function passToFunction() {
				arrayToPass = [1, "Two", 3];
			  
				unmodifiableFunction.apply(null, arrayToPass);
			}
		  
			function unmodifiableFunction(a, b, c) {
				console.log("First value is: ", a);
				console.log("Second value is: ", b);
				console.log("Third value is: ", c);
			}
		</script> -->
	</div>
</body>
</html>
